extends ../adminLayout
block content 
    div(class="p-3 col")                                              
        main(class="jumbotron jumbotron-fluid")
            h1(class="display-4") Delete Scholar(s)
            p(class="lead") Use the below search bar to remove scholars
            hr(class="my-4")