extends guideLayout
block content 
    div(class="p-3 col")                                              
        main(class="jumbotron jumbotron-fluid")
            h1(class="display-4") Welcome to the Guide Interface
            p(class="lead") This Interface will allow you to control the scholars
            hr(class="my-4") 
     
      
