extends guideLayout
block content 
    div(class="p-3 col")                                              
        main(class="jumbotron jumbotron-fluid")
            h1(class="display-4") Hello, Dr. #{user}
            p(class="lead") Below are your details
            hr(class="my-4")
            div(class="p-2 row")
                div(class="col")
                    h6 Guide Email: #{profile.guide_email}
                    h6 Guide Phone: #{profile.guide_phone}
             
     
      
