extends ../layout

block content
    body 
        div(class="position-absolute top-50 start-50 translate-middle")
            h1 Register 
            p Kindly enter your information here.
            form(method="POST", action="/guides/register", class="form-signin") 
                div(class="mb-3")
                    label(class="form-label") Full Name 
                    input(type="text",name="name",placeholder="John Doe",class="form-control")
                div(class="mb-3")
                    label(class="form-label") Phone Number
                    input(type="tel",name="phone",placeholder="+91 9999999999",class="form-control")
                div(class="mb-3")
                    label(class="form-label") USN 
                    input(type="text",name="usn",placeholder="2KLXXXXXX",class="form-control")
                hr
                label(class="sr-only pt-2") College 
                div(class="input-group mb-3")
                    select(class="form-select",aria-label="Default select example",name="college")
                        option(selected)
                            div(class="text-muted") Click here to Select  
                        each item in college_list
                            option(value=item.college_id) #{item.college_name}
                label(class="sr-only pt-2") Department 
                div(class="input-group mb-3")
                    select(class="form-select",aria-label="Default select example",name="department")
                        option(selected)
                            div(class="text-muted") Click here to Select  
                        each item in department_list
                            option(value=item.college_id) #{item.department_name}                                   
                div(class="pt-3")  
                    button(class="btn btn-outline-primary btn-block",type="submit") Register                     