extends layout

block content 
    body 
        div(class="container-fluid")
            h1 Researchbase 
            p(class="text-muted") A tool to manage and notify research scholars 
            hr 
            p
                | Developed, Designed and Maintained by
                b  Vinayak Jaiwant
            p
                | Database Design by
                b  Yash Vidhate 
            p 
                | Project Planning by
                b  Krishna Pai, Prachi Patil and Yash Vidhate 
            hr 
            p 
                | Special Thanks to 
                b  Prof. Rakhee Kallimani, Dr. Rajashri Khanai and Aditya Prabhu     
            
