extends layout

block content
    body
        div(class="container position-absolute")
            h1 Researchbase
            p(class="text-muted") Managing Scholars, made easier. 
            div(class="row row-cols-2")
                div(class="p-3 col")
                    h3 Join as a Scholar
                    p Join and Enjoy the benefits of being an informed scholar
                    a(class="btn btn-outline-primary btn-block",href="/scholars/signup") Sign Up as Scholar 
                    |
                    |
                    a(class="btn btn-outline-primary btn-block",href="/scholars/login") Login as Scholar
                div(class="p-3 col")
                    h3 Join in as a Guide
                    p Guide your scholars in creating their perfect thesis.
                    a(class="btn btn-outline-primary btn-block",href="/guides/signup") Sign Up as Guide 
                    |
                    |
                    a(class="btn btn-outline-primary btn-block",href="/guides/login") Login as Guide
        div(class="fixed-bottom") 
            footer(class="text-center text-lg-start bg-light text-muted")
                div(class="d-flex flex-row-reverse p-2")
                    p 
                        |   Developed and Maintained by 
                        a(href="/devs") Skil Intentus
                        |       


