extends ../layout

block content
    body 
        div(class="position-absolute top-50 start-50 translate-middle")
            h1 Register 
            p Kindly enter your information here.
            form(method="POST", action="/scholars/register", class="form-signin") 
                div(class="mb-3")
                    label(class="form-label") Full Name 
                    input(type="text",name="name",placeholder="John Doe",class="form-control")
                div(class="mb-3")
                    label(class="form-label") Phone Number
                    input(type="tel",name="phone",placeholder="+91 9999999999",class="form-control")
                div(class="mb-3")
                    label(class="form-label") USN 
                    input(type="text",name="usn",placeholder="2KLXXXXXX",class="form-control")
                div(class="pt-3")  
                    button(class="btn btn-outline-primary btn-block",type="submit") Register                     